/* --------- mixins --------- */
@mixin opensans($style : jenya) {
	@if $style == jenya {
		font-family: 'OpenSansRegular';
	}

	@if $style == semi {
		font-family: 'OpenSansSemiBold';
	}

	@if $style == bold {
		font-family: 'OpenSansBold';
	}

	@if $style == ital {
		font-family: 'OpenSansItalic';
	}

	@if $style == ruso {
		font-family: 'RussoOneRegular';
	}

	@if $style == ubuntu {
		font-family: 'UbuntuCondensedRegular';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient {
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(0,171,254,1) 0%, rgba(0,130,195,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,171,254,1)), color-stop(100%, rgba(0,130,195,1)));
	background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(0,171,254,1) 0%, rgba(0,130,195,1) 100%);
	background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(0,171,254,1) 0%, rgba(0,130,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(0,171,254,1) 0%, rgba(0,130,195,1) 100%);
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(0,171,254,1) 0%, rgba(0,130,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#0082c3', GradientType=0 );
	&:hover {
		background: rgba(248,80,50,1);
		background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(0,169,254,1) 0%, rgba(0,130,195,1) 0%, rgba(0,130,195,1) 0%, rgba(0,169,254,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(0,169,254,1)), color-stop(0%, rgba(0,130,195,1)), color-stop(0%, rgba(0,130,195,1)), color-stop(100%, rgba(0,169,254,1)));
		background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(0,169,254,1) 0%, rgba(0,130,195,1) 0%, rgba(0,130,195,1) 0%, rgba(0,169,254,1) 100%);
		background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(0,169,254,1) 0%, rgba(0,130,195,1) 0%, rgba(0,130,195,1) 0%, rgba(0,169,254,1) 100%);
		background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(0,169,254,1) 0%, rgba(0,130,195,1) 0%, rgba(0,130,195,1) 0%, rgba(0,169,254,1) 100%);
		background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(0,169,254,1) 0%, rgba(0,130,195,1) 0%, rgba(0,130,195,1) 0%, rgba(0,169,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#00a9fe', GradientType=0 );
	}
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include opensans(jenya);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder {color:#fff;}/* Firefox 19 */
input:-moz-placeholder {color:#fff;}/* Firefox 18 */
input:-ms-input-placeholder {color:#fff;}

p {
	padding: 0;
	margin: 0;
}

// base style flex
.main {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

// header
.header {
	background-color: #000;
	position: relative;
	min-height: 715px;
	@include laptop {
		min-height: 0;
		height: auto;
	}
	@include tablets {
		overflow: hidden;
	}
}

.header .row {
	min-height: 55px;
	@include clearfix;
}

.header__top {
	min-height: 55px;
	@include tablets {
		min-height: auto;
		height: 55px;
	}
}

// header nav area
.header__logo {
	margin-top: 17px;
	width: 130px;
	@include laptop {
		margin: 17px auto 0;
	}
	@include tablets {
		z-index: 1;
		margin: 17px 0;
	}
	@include phones {
		z-index: 2;
	}
}

.header__logo-link {

}

.header__logo-pic {

}

.header__nav {
	height: 55px !important;
	float: right;
	@include laptop {
		float: none;
		margin-left: 20px;
	}
	@include tablets {
		float: right;
		margin-left: 0;
		width: 100%;
		margin-top: -58px;
	}
}

.header__nav-list {

}

.header__nav-item {
	display: inline-block;
	margin: 0 20px;
	padding-top: 15px;
	height: 55px;
	transition: border .3s;
	&:hover {
		transition: border .2s;
		border-bottom: 4px solid #0071c8;
	}
	@include desktop {
		padding: 15px 2px;
		margin: 0 10px;
	}
	@include tablets {
		height: auto;
		border-bottom: 4px solid transparent;
		padding: 3px 15px;
		&:active {
			border-bottom: 4px solid #0071c8;
		}
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	@include tablets {
		width: 130px;
		overflow: hidden;
		margin-left: -3%;
		margin-top: 52px;
    width: 107%;
    text-align: center;
		border: 0 none;
	}
	@include phones {
		margin-left: -6%;
		width: 112%;
	}
}

.header__nav-link {
	color: #fff;
	font-size: 14px;
	height: 100%;
	&:hover{
		text-decoration: none;
		color: #fff;
	}
	&:focus {
		text-decoration: none;
		color: #fff;
	}
}

.nav>li>a {
	padding: 0;
	@include tablets {

	}
}

.navbar-collapse {
	padding: 0;
}

.navbar-nav {
	float: right;
	@include tablets {
		float: none;
		background-color: #000;
		margin: 0px -15px;
	}
}

.navbar {
	border: 0 none;
}

.navbar-default {
	background-color: transparent;
	z-index: 1;
	@include phones {
		background-color: #000;
	}
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
	@include tablets {

	}
}

.navbar-toggle {
	margin-right: 0;
}

.navbar-default .navbar-toggle {
	border: 0 none;
	&:hover {
		background-color: transparent;
	}
	&:focus {
		background-color: transparent;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-header {
	@include tablets {
		float: right;
		padding-right: 0;
	}
}

// header bottom
.header__bottom {
	min-height: 660px;
	color: #fff;
	background: url('../img/bg-banner.png') no-repeat center top/cover;
	padding-top: 80px;
	@include laptop {
		padding-top: 45px;
		min-height: 0;
		height: auto;
		padding-bottom: 40px;
	}
	@include phones {
		padding-top: 30px;
		padding-bottom: 0;
	}
}

.header__bottom-title {
	font-size: 48px;
	@include opensans(bold);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	@include laptop {
		margin-bottom: -4px;
		font-size: 36px;
	}
	@include tablets {
		font-size: 34px;
		margin-bottom: 5px;
	}
	@include phones {
		font-size: 24px;
	}
}

.header__bottom-text {
	font-size: 22px;
	text-align: center;
	@include laptop {
		font-size: 18px;
	}
	@include tablets {
		font-size: 16px;
	}
	@include phones {
		margin-top: 0;
	}
}

.header__bottom-item {
	width: 90%;
	position: relative;
	display: inline-block;
	@include clearfix;
	height: auto;
	margin: 0 auto;
	padding-left: 5.5%;
	@include desktop {
		width: 100%;
		padding-left: 9.5%;
	}
	@include laptop {
		padding-left: 2.5%;
	}
	@include tablets {
		// padding-left: 2.5%;
	}
}

.header__bottom-pic {
	position: relative;
	height: 310px;
	width: 465px;
	float: left;
	margin-top: 80px;
	@include desktop {
		height: 280px;
		width: 380px;
	}
	@include laptop {
		width: 340px;
	}
	@include tablets {
		margin: 25px auto;
		float: none;
	}
	@include phones {
		margin: 15px auto 5px;
		height: 206px;
		width: 286px;
	}
}

.header__bottom-pic_item {
	@include absolute-center;
	max-width: 99%;
	max-height: 99%;
}

.header__bottom-list {
	float: left;
	margin-left: 95px;
	margin-top: 35px;
	@include desktop {
		margin-left: 70px;
	}
	@include laptop {
		width: 340px;
		margin-left: 36px;
	}
	@include tablets {
		float: none;
		margin: 30px auto;
	}
	@include phones {
		width: 280px;
		margin: 20px auto;
	}
}

.header__bottom-list_item {
	font-size: 22px;
	text-align: center;
	width: 370px;
	@include desktop {
		width: auto;
	}
	@include phones {
		display: none;
	}
}

.header__bottom-list_price {
	margin-bottom: 15px;
	& .new {
		font-size: 36px;
		@include opensans(bold);
		color: #fff600;
		@include phones {
			font-size: 24px;
		}
	}
	& .old {
		font-size: 22px;
		color: #e20d0f;
		margin-left: 80px;
		display: inline-block;
		position: relative;
		@include phones {
			font-size: 24px;
			margin-left: 50px;
		}
	}
	@include desktop {
		margin-bottom: 10px;
	}
	@include phones {
		padding-left: 10px;
		margin-bottom: 15px;
	}
}

.old__line-through {
	height: 2px;
	width: 100%;
	background-color: #e20d0f;
	position: absolute;
	left: 0;
	top: 18.5px;
}

// form
.form-control {
	height: 45px;
	width: 355px;
	border-radius: 6px;
	@include clearfix;
	@include desktop {
		width: 100%;
	}
	@include phones {
		width: 278px;
	}
}

.header__bottom-list_form {

}

.footer__form-size {

}

.footer__form-order {
	width: 355px;
	@include phones {
		width: auto;
	}
}

.footer__form-data {
	border: 2px solid #00a8fb;
}

.footer__form-button_wrap {
	@include phones {
		position: relative;
		top: 47px;
		height: 55px !important;
		width: 210px !important;
		margin-top: -30px !important;
	}
}

.footer__form-button {
	height: 55px;
	width: 100%;
	@include opensans(bold);
	text-transform: uppercase;
	border-radius: 50px;
	border: 0 none;
	width: 355px;
	font-size: 16px;
	@include vertical-gradient;
	@include desktop {
		height: 45px;
	}
	@include laptop {
		width: 340px;
	}
	@include phones {
		width: 210px;
		height: 55px;
		position: absolute;
		margin-bottom: 0 !important;
	}
}

.form-group__text {
	display: inline-block;
	font-size: 18px;
	@include opensans(jenya);
	@include phones {
		font-size: 16px;
	}
}

.form-group {
	width: 340px;
	@include phones {
		width: 278px;
		margin: 12px auto;
		position: relative;
	}
}

.checkbox__wrap {
	float: right;
	display: inline-block;
	position: relative;
	width: 163px;
	margin-right: 20px;
	@include phones {
		margin-right: 0;
		width: auto;
	}
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 14px;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	margin: 0 10px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	// background-color: #e9ecee;
	// border: 1px solid #adb8c0;
	// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	// color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 2px;
	left: 8px;
	color: #fff;
}

.first {
	background-color: #b6b9be;
}

.second {
	background-color: #8eafda;
}

.third {
	background-color: #e0cdbb;
}

.form-group__checkbox {
	margin-top: 25px;
	padding-left: 10px;
	margin-bottom: 25px;
	@include desktop {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	@include phones {
		margin-top: 35px;
		// margin-bottom: 35px;
		padding-left: 0;
	}
}

.background__button {
	display: none;
	@include phones {
		display: block;
		width: 100%;
		height: 50px;
		background-color: #fff;
	}
}



// colors area
.colors {
	position: relative;
	background-color: #fff;
	min-height: 743px;
}

.colors__title {
	font-size: 40px;
	@include opensans(semi);
	margin-top: 55px;
	text-align: center;
	margin-bottom: 18px;
	@include phones {
		display: none;
	}
}

.colors__title-phone {
	display: none;
	@include phones {
		display: block;
		font-size: 24px;
		text-align: center;
		@include opensans(semi);
	}
}

.colors__blue-line {
	height: 2px;
	width: 454px;
	background-color: #0071c8;
	margin: 0 auto;
	margin-bottom: 20px;
	@include phones {
		width: 155px;
	}
}

.colors__text {
	@include opensans(light);
	font-size: 22px;
	text-align: center;
	margin: 0 auto 55px;
	width: 560px;
	@include laptop {
		width: auto;
	}
	@include phones {
		font-size: 16px;
		width: auto;
	}
}

.colors__gallery {
	// position: relative;
	text-align: center;
}

.colors__gallery-item {
	display: inline-block;
}

.colors__gallery-pic {
	margin: 0 30px;
	height: 315px;
	width: 250px;
	position: relative;
}

.colors__gallery-pic_item {
	@include absolute-center;
	max-width: 99%;
	max-height: 99%;
}

.colors__gallery-text {
	text-align: center;
	font-size: 18px;
	@include opensans(light);
	margin-top: 25px;
}

// section buy
.buy {
	position: relative;
	background-color: #f4f4f4;
	min-height: 162px;
}

.buy .row	{
	@include clearfix;
	@include phones {
		text-align: center;
	}
}

.buy-inline {
	display: inline-block;
}

.buy__counter {
	@include opensans(light);
	text-align: center;
	margin-top: 25px;
	margin-left: 100px;
	float: left;
	@include desktop {
		margin-left: 0;
	}
	@include phones {
		float: none;
		margin-top: 15px;
	}
}

.buy__counter-title {
	font-size: 24px;
}

.buy__counter-old {
	@include opensans(light);
	font-size: 18px;
	color: #bababa;
	position: relative;
}

.buy__counter-old_line {
	position: absolute;
	height: 1px;
	background-color: #bababa;
	width: 100%;
	top: 14px;
	left: 0;
}

.buy__counter-new {
	color: #00abff;
	font-size: 24px;
	margin-left: 4px;
}

.buy__counter-num {
	@include opensans(semi);
	font-size: 30px;
}

.buy__counter-num_first {

}

.buy__counter-num_second {

}

.buy__counter-num_third {

}

.buy__counter-text {
	font-size: 16px;
}

.buy__colors {
	float: left;
	margin-left: 150px;
	margin-top: 32px;
	@include clearfix;
	@include desktop {
		margin-left: 120px;
	}
	@include laptop {
		margin-left: 45px;
	}
	@include phones {
		margin-left: 0;
		float: none;
		margin-top: 42px;
		text-align: center;
		.checkbox__wrap {
			float: none;
		}
	}
}

.buy__colors {
	& .regular-checkbox + label {
		margin: 0 12px;
	}
}

.buy__colors-text {
	padding-left: 17px;
	font-size: 16px;
	margin-bottom: 23px;
	@include phones {
		padding-left: 0;
	}
}

.buy__button-wrap {
	position: relative;
	width: 205px;
	height: 57px;
	float: left;
	margin-top: 55px;
	margin-left: 140px;
	@include desktop {
		margin-left: 110px;
	}
	@include laptop {
		margin-left: 25px;
	}
	@include phones {
		float: none;
		margin: 4px auto 0;
		top: 28px;
		left: 0;
		z-index: 1;
	}
}

.buy__button {
	width: 205px;
	height: 57px;
	border-radius: 50px;
	border: 0 none;
	@include vertical-gradient;
	@include opensans(bold);
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	@include phones {
		margin-left: 0;
		position: absolute;
		left: 0;
	}
}

.background__button-buy {
	display: none;
	@include phones {
		display: block;
		width: 100%;
		height: 50px;
		background-color: #000;
	}
}



// description area
.descr {
	position: relative;
	background-color: #000;
	min-height: 1000px;
}


// special area
.special {
	position: relative;
	background-color: #fff;
	min-height: 770px;
}


// video area
.video {
	position: relative;
	background-color: #101010;
	min-height: 1010px;
}

// equipment area
.equipment {
	position: relative;
	background-color: #fff;
	min-height: 645px;
}

// gallery area
.gallery {
	position: relative;
	background-color: #101010;
	min-height: 1015px;
}

// work area
.work {
	position: relative;
	background: url('../img/pattern.png') no-repeat center top/cover;
	min-height: 292px;
}

// reviews area
.reviews {
	position: relative;
	background-color: #fff;
	min-height: 592px;
}

// reminder area
.reminder {
	position: relative;
	background-color: #000;
	min-height: 590px;
}





.empty {
	height: 73px;
}
// section footer
.footer {
	position: relative;
	margin-top: -73px;
	min-height: 73px;
	background-color: #000;
	font-size: 14px;
	color: #fff;
}

.footer .row {
	border-top: 1px solid #282828;
	padding: 18px 20px;
	@include tablets {
		text-align: center;
	}
}

.footer__conf {
	float: left;
	color: #fff;
	&:hover {
			text-decoration: none;
	}
	@include tablets {
		float: none;
	}
}

.footer__copy {
	float: right;
	@include tablets {
		float: none;
	}
}